/* Comentario epico*/
p {
    color: white;
}

h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
}

body {
    /*Background-color: brown;*/
    background-image: url(/Assets/naranja2.jpeg);
}

table {
    background-color: rgba(182, 178, 178, 0.486);
    width: 80%;
    /*width es el ancho de la tabla, puede valos absoluto (px) o relativo (%)*/
    color: black;
    text-align: center;

}

th {
    color: black;
    border: 5px solid black;
    text-align: center;
}

td {
    color: black;
    font-size: 1.3em;
    /*tamaño de fuente*/
    text-align: center;
    border: 5px solid black;
}

p {
    text-align: center;
}

footer {
    background-color: rgba(182, 178, 178, 0.486);
    width: 100%;
    text-align: center;
    border: 5px solid black;
    color: white;

}

main {
    background-color: rgba(182, 178, 178, 0.486);
   
    border: 5px solid black;

}

header {
   
    background-color: rgba(182, 178, 178, 0.486);
    width: 100%;
    border: 5px solid black;
}

/*
Profe no le puse el fondo porque se veia feo :p 
pero le dejo como lo hice :)

<body id="letra"> 

#letra {
    background-image: url(/Assets/marte2.jpg);
}
*/
#index main{
    display: flex;
    justify-content: center;
    
}